@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --primary-color: #95b595;
  --secondary-color: #fafafa;
  --tertiary-color: #f7fee7;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0px;
  text-align: center;
  background-color: var(--primary-color);
}

h1 {
  color: var(--tertiary-color);
}

div {
  color: var(--tertiary-color);
  font-size: x-large;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 0.2rem;
  padding-bottom: 3rem;
}

input,
label {
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
}

label {
  padding-bottom: 0.1rem;
}

input {
  font-family: inherit;
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 250px;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  background-color: var(--secondary-color);
}

button {
  font-family: inherit;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--secondary-color);
}
